*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(0,12,36);
    background: linear-gradient(223deg, rgba(0,12,36,1) 0%, rgba(0,254,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login-head h1{
    font-family: 'Neuton',sans-serif;
}
.input-group{
    padding: 0 50px;
}
.login-img{
    height: 100vh;
    padding-top: 150px;
}
.logo-img img{
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100px;
}
.remember-me{
    padding: 0 50px;
}
.remember-me label{
    margin: 0 5px;
}
.login-btn button{
    padding: 8px 50px;
}
.Login-content{ 
    width: 80% ;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
}
.sign-up{
    margin-top: 20px;
}


@media (max-width: 850px){
    .login-img{
        height: auto;
        padding-top: 50px;
    }
    .Login-content{
        margin-top: 10%;
        width: 100% ;
        margin-bottom: 50px;
    }
    .remember-me label{
        font-size: small;
        margin: 0 1px;
    }
    .forget-para p a{
        font-size: small;
    }
    .forget-para {
        width: 51%;
    }
    .remember-line{
        width: 49%;
    }
}